@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
   text-decoration: none; 
}

/* Remover bordas nos navegadores */
input:focus, textarea:focus, button:focus { 
	outline: none; 
}

:root {
    --font: #111111;
    --font2: #777777;
    --font3: #444444;
    --grey: #999999;
    --back: #FBDFDB;
    --footer: #d4d4d4;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fcf4db;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.sobre a#sobre,
body.receitas a#receitas {
    font-weight: bold;
}

h2.about {
    font-size: 24px;
    line-height: 28px;
    color: var(--font);
    margin-bottom: 20px;
}

p.about {
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
    color: var(--font3);
    margin-bottom: 30px;
}

h3.about {
    font-size: 20px;
    font-weight: bold;
    color: var(--font);
    margin-bottom: 20px;
}

.container {
    margin: 0px auto;
    max-width: 940px;
    min-width: 10px;
}

header.head {
    margin-top: 31px;
    width: 100%;
    max-width: 940px;
    display: flex;
    margin-bottom: 30px;
}

.head a img {
   width: 91px;
   height: 27px;
}

.head .menu {
    margin-left: 123px;
}

.head .menu a {
    margin: 30px;
    font-size: 16px;
    color: var(--font);
    line-height: 19px;
}

.head .menu a:hover {
    font-weight: bold;
    border-bottom: 2px solid #d64e45;
    opacity: 0.7;
    transition: 0.3s;
}

.banner {
    width: 940px;
    height: 366px;
    background-color: var(--back);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 259px;
    align-items: center;
    margin-bottom: 50px;
}

.banner .content {
    margin-left: 60px;
    width: 316px;
}

.banner .content h1 {
    font-size: 32px;
    line-height: 38px;
    color: var(--font);
    font-weight: bold;
    margin-bottom: 10px;    
}

.banner .content p {
    font-size: 18px;
    line-height: 28px;
    color: black;
    opacity: 0.7;
}

.chef img {
    width: 216px;
    height: 300px;
    margin-top: 66px;
    margin-right: 100px;
}

.mostAccessed {
    font-size: 24px;
    line-height: 28px;
    color: var(--font);
    font-weight: bold;
    margin-bottom: 20px;
}

.cards {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
   margin-bottom: 20px;
}


.cardindex .image img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.cardindex .title h3 {
    font-size: 18px;
    line-height: 21px;
    color: var(--font);
    margin-bottom: 5px;
}

.cardindex .by p {
    font-size: 14px;
    line-height: 16px;
    color: var(--font2);
    margin-bottom: 30px;
}
.card .image img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.card .title h3 {
    font-size: 18px;
    line-height: 21px;
    color: var(--font);
    margin-bottom: 5px;
}

.card .by p {
    font-size: 14px;
    line-height: 16px;
    color: var(--font2);
    margin-bottom: 30px;
}

.card:hover {
    cursor: pointer;
    border-radius: 15px;
    background-color: var(--back);
    transition: 0.5s;
}

footer {
    background: var(--footer);
    margin-top: auto; /* footer ficar fixado no bottom*/
    text-align: center;
    width: 100%;
    padding: 23.5px 0;
}

footer p {
    font-size: 14px;
    color: var(--font2); 
}

/* Receita */

.top {
    display: flex;
    flex-direction: column;
    max-width: 940px;
    align-items: center;
}

.top img.imageTop {
    object-fit: cover;
    width: 940px;
    height: 280px;
    border-radius: 15px;
}

.top h1 {
    font-size: 36px;
    line-height: 42px;
    margin-top: 50px;
    color: var(--font);
}

.top p {
    font-size: 20px;
    line-height: 24px;
    color: var(--font2);
    margin-top: 4px;
    margin-bottom: 50px;
}

.titleCook {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

.titleCook h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: var(--font);
}

.titleCook button {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--grey);
    margin-left: 8px;
    border: none;
    background: none;
    cursor: pointer;
}

.ingredients .list,
.prepare .make {
    margin-bottom: 39px;
}

.information .extra,
.ingredients .list,
.prepare .make {
    color: var(--font3);
}

.extra {
    margin-bottom: 50px;
}

.list, .make{
    line-height: 25px;
}

/* Show and hidden */

.hide{
    display: none;
}

.show{
    display: block;
}