{% extends "layout.njk" %}

{% block head%}

<title>Foodfy</title>

{% endblock %}

{% block content%}

<div class="container">

    <div class="banner">

        <div class="content">
            <h1>As melhores receitas</h1>
            <p>
                Aprenda a construir os melhores pratos
                com receitas criadas por profissionais
                do mundo inteiro.
            </p>
        </div>
        <div class="chef">
            <img src="/assets/chef.png" alt="Chefe de cozinha">
        </div>
    </div>

    <h2 class="mostAccessed">Mais acessadas</h2>

    <section class="cards">

        <div class="cardindex">
            <div class="image">
                <img src="./assets/burger.png" alt="Burger">
            </div>
            <div class="title">
                <h3>Triplo bacon burger</h3>
            </div>
            <div class="by">
                <p>por Jorge Relato</p>
            </div>
        </div>

        <div class="cardindex">
            <div class="image">
                <img src="./assets/pizza.png" alt="Pizza">
            </div>
            <div class="title">
                <h3>Pizza 4 estações</h3>
            </div>
            <div class="by">
                <p>por Fabiana Melo</p>
            </div>
        </div>

        <div class="cardindex">
            <div class="image">
                <img src="./assets/espaguete.png" alt="espaguete">
            </div>
            <div class="title">
                <h3>Espaguete ao alho</h3>
            </div>
            <div class="by">
                <p>por Júlia Kinoto</p>
            </div>
        </div>

        <div class="cardindex">
            <div class="image">
                <img src="./assets/lasanha.png" alt="Lasanha">
            </div>
            <div class="title">
                <h3>Lasanha mac n` cheese</h3>
            </div>
            <div class="by">
                <p>por Juliano Vieira</p>
            </div>
        </div>

        <div class="cardindex">
            <div class="image">
                <img src="./assets/doce.png" alt="Docinhos">
            </div>
            <div class="title">
                <h3>Docinhos pão-do-céu</h3>
            </div>
            <div class="by">
                <p>por Ricardo Golvea</p>
            </div>
        </div>

        <div class="cardindex">
            <div class="image">
                <img src="./assets/asinhas.png" alt="asinhas de frango">
            </div>
            <div class="title">
                <h3>Asinhas de frango ao barbecue</h3>
            </div>
            <div class="by">
                <p>por Vânia Steroski</p>
            </div>
        </div>
        
    </section>      
    
</div>

{% endblock %}