<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>

    {% endblock %}

    <link rel="stylesheet" href="/style/styles.css">

</head>
<body>
    
    <header class="headAdmin">
        <div class="logoAdmin">
            <a href="/">
                <img src="/assets/whiteLogo.png" alt="Foodfy">
            </a>
            {# apagar #}
            <a href="/admin/recipes/create">create</a>
            {# apagar  #}
        </div>
    </header>

    {% block content %}

    {% endblock%}

    <footer class="footer">
    <p>
        &copy; Todos direitos reservados July 2020 | receitas Foodfy - by Cleber Santos with Rocketseat
    </p>
</footer>

</body>
</html>