{% extends "layoutAdmin.njk" %}

{% block head%}

<title>Criando receita</title>

{% endblock %}

{% block content%}

<form class="containerForm" method="POST" action="/admin/recipes">

    <div class="cabecalho">
        <h3 class="title">Criando receita</h3>
        <button type="submit" class="save">Salvar receita</button>
    </div>

    <div class="item">
        <div class="label">Imagen da receita</div>
        <input type="url" name="image" placeholder="http://">
    </div>

    <div class="item">
        <div class="label">Titulo da receita</div>
        <input type="text" name="name" placeholder="Nome da receita">
    </div>

    <div id="ingredients" class="item">
        <div class="label">Ingredientes</div>
        <div class="ingredient">
            <input type="text" name="ingredients[]" value="" placeholder="Adicionar ingredientes" />
        </div>
    </div>
    <button id="add" type="button" class="add-ingredient">Adicionar novo ingrediente</button>

    <div id="preparation" class="item">
        <div class="label">Modo de preparo</div>
        <div class="preparation">
            <input type="text" name="preparation[]" value="" placeholder="adicionar passo de preparo" />
        </div>
    </div>
    <button id="add" type="button" class="add-preparation">Adicionar novo passo</button>

    <div class="item">
        <div class="label">Informações adicionais</div>
        <textarea name="infoAdd" id="" cols="30" rows="10"></textarea>
        {# <input type="text" name="infoAdd" placeholder="Informações adicionais"> #}
    </div>
   
</form>

<script src="/scripts/add.js"></script>

{% endblock %}